fastapi
uvicorn[standard]
pymongo
python-dotenv
faster-whisper 
soundfile
pyjwt
pwdlib[argon2]
google-generativeai
langchain
langchain-google-genai 
langchain-openai
pydantic
langchain-community
pydub
pdfplumber
boto3
