fastapi
uvicorn[standard]
pymongo
python-dotenv
# faster-whisper (replaced by Sarvam AI)
soundfile
pyjwt
pwdlib[argon2]
google-generativeai
langchain
langchain-google-genai
langchain-openai
pydantic
langchain-community
pydub
pdfplumber
PyPDF2
pymupdf
pytesseract
Pillow
faiss-cpu
sentence-transformers
torch
boto3
websockets
certifi
httpx